include ./includes/head.pug

nav(class="ng-logo-container")
    img(class="ng-logo", id="n-logo", src="/images/NG_N.svg")
    img(class="ng-logo", id="g-logo", src="/images/NG_G.svg")

div(class="main-content")
    li
        a(href="#") Test

footer
    div(class="footer-content")